.delivery {
  margin-top: 10vh;
  width: 100%;
  height: 100%;
}

iframe {
  height: 110vh;
  border: none;
}

.firstSection {
  background-image: url(./imgs/cakes.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstSection img {
  max-width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.firstSection ul {
  background-color: #3b3b3bd7;
  position: absolute;
  left: 10rem;
  width: 50%;
  font-size: 2.3rem;
  text-align: left;
}

.firstSection ul button {
  font-size: 2.5rem;
  color: #cc6600;
}

.firstSection ul li {
  color: #ececec;
}

.firstSection ul i {
  color: #ececec;
}

.secondSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  padding-top: 2vh;
  height: 40vh;
}

.secondSection img {
  width: 3.3rem;
  margin: 1rem;
}

.secondSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prehliadka h2 {
  margin: 0;
  text-decoration: underline;
  color: #ececec;
}

.prehliadka h2:hover {
  text-decoration: overline;
}

.socialNetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.socialNetworks i {
  margin: 10px;
}

.socialNetworks i:hover {
  color: #cc6600;
  cursor: pointer;
}

.fixed-bg {
  background-image: url(./imgs/fixed-bg-coffe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 30vh;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 10vh 5vh 15vh 5vh;
}

.projects-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 25rem;
      grid-template-columns: 25rem 25rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 10rem;
}

.projects-group ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  height: 100%;
}

.projects-group ul img {
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .fixed-bg {
    display: none;
  }
  .secondSection {
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 25vh;
  }
  .secondSection ul {
    margin-bottom: 7vh;
  }
}

@media screen and (max-width: 800px) {
  .firstSection ul {
    position: absolute;
    left: 0rem;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 800px) and (max-width: 780px) {
  .projects-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 800px) and (max-width: 420px) {
  .secondSection {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .secondSection ul li {
    width: 100%;
  }
  .projects {
    height: 100%;
    margin: 0vh 0vh 0vh 0vh;
  }
  .reviews iframe {
    width: 100%;
  }
}
/*# sourceMappingURL=app.css.map */