.fixedFood{
    z-index: 2;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{width: 7rem;
    margin:1vh;}
   
}