@import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Sail&display=swap');
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	background-color: rgb(54, 54, 54);
	font-family: 'Ruluko', sans-serif;
	color: rgb(221, 218, 218);
	letter-spacing: 1.5px;
	font-size: 1.3rem;
	text-decoration: none;
}
h1 {
	font-size: 2.6rem;
	letter-spacing: 4px;
	font-family: 'Sail', cursive;
	color: #cc6600;
	text-decoration: overline;
}
h2 {
	font-size: 2rem;
	letter-spacing: 4px;
	font-family: 'Sail', cursive;
	color: #cc6600;
}
h3 {
	color: #cc6600;
}
p {
	line-height: 1.6;
}
ul {
	list-style: none;
}
i {
	font-size: 2.3rem;
}
a {
	color: rgb(221, 218, 218);
	text-decoration: none;
}
button {
	background-color: rgba(39, 39, 39, 0.795);
	font-family: 'Ruluko', sans-serif;
	border: none;
	border-radius: 0px;
	font-size: 1.3rem;
	padding: 7px;
	color: white;
	margin: 10px 0px 10px 0px;
}
button:hover {
	background-color: rgba(77, 77, 77, 0.514);
	color: #cc6600;
}

.aos-animate {
	margin: 0;
	padding: 0;
}
